# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
/ios
/android
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.kotlin/

# Metro
.metro-health-check*

# SQLite (Local development database files)
*.db
*.db-journal
*.db-shm
*.db-wal

# EAS
.eas/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
.pnpm-debug.log*

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo

# local env files
.env*.local

# TypeScript
*.tsbuildinfo
